services:
  ollama:
    image: docker.io/ollama/ollama:0.4.1
    restart: unless-stopped
    ports:
      - "${SERVICE_OLLAMA_BIND_PORT_HTTP}:11434"
    volumes:
      - ./ollama:/root/.ollama

networks:
  default:
    name: ${NETWORK_NAME}
    external: true
