{
    "default_hs_url": "__HOMESERVER_CLIENT_URL__",
    "default_is_url": "https://vector.im",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "bug_report_endpoint_url": "https://element.io/bugreports/submit",
    "enableLabs": true,
    "roomDirectory": {
        "servers": [
            "matrix.org"
        ]
    }
}
